@charset "UTF-8";
table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

thead{
    font-weight: bold;
    padding:5px;
    text-align: center;
}

tbody,th{
    padding:10px;
    border: 1px solid black;
}
 td{
    border: 1px solid black;
    padding:5px;
}
.mulheres,.homens{
    font-weight: bold;

}